base_hostname = "base.jetpack.cl"
base_url = f"https://{base_hostname}/flatcat/updates"
base_home = "/home/pi"
base_local = f"{base_home}/jetpack"
base_work = f"{base_home}/work"
config_wpa_path = "/etc/wpa_supplicant/wpa_supplicant.conf"
config_hostname_path = "/etc/wpa_supplicant/hostname"
config_flatcat_path = f"{base_local}/flatcat-app/config_flatcat.json"
